.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 2.1em;
  background-color: #ff6600;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar ul li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: rgb(65, 62, 62);
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18%;
}

.login {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  margin-right: 2%;
}

.center,
#cen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Footer */
.footer-menu {
  width: 100vw;
}

.footer-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.footer-menu a {
  text-decoration: none;
  color: rgba(116, 115, 115, 0.92);
  font-size: 0.8em;
}

.footer-menu a:hover {
  color: #ff6600;
  transition: 0.2s;
}

hr {
  width: 100%;
  height: 2.5px;
  border: none;
  background-color: #ff6600;
}
